.currencies a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

.currency small {
  display: block;
}

.currencies a:nth-child(even) {
  background-color: var(--ruber);
}

.currencies a:nth-child(odd) {
  background-color: var(--dark-pink);
}

.currency__title {
  line-height: 1.5rem;
}

.currency__icon {
  display: flex;
  width: max-content;
  padding: 0.1rem;
  border-radius: 50%;
  border: 2px solid white;
}

.currency__icon span {
  font-size: 1rem;
}
