.search {
  position: sticky;
  top: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-inline: 0.5rem;
}

.search__input,
.search__submit {
  padding: 0.4rem;
}

.search__input {
  padding-inline: 1rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--ruber);
  color: white;
  border-radius: 5px 0 0 5px;
}

.search__submit {
  border: none;
  outline: none;
  background: none;
  background-color: #6a0b2e;
  border-radius: 0 5px 5px 0;
}

.search__submit span {
  font-size: 1.8rem;
  color: white;
}
